@charset "UTF-8";
@font-face {
  font-family: 'Ghotam-font';
  src: url("../../fonts/GothamPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ghotam-font';
  src: url("../../fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ghotam-font';
  src: url("../../fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Ghotam-font';
  src: url("../../fonts/GothamPro-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Intro-font';
  src: url("../../fonts/Intro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Intro-font';
  src: url("../../fonts/Intro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Intro-font';
  src: url("../../fonts/Intro-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Intro-font';
  src: url("../../fonts/Intro-Black.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Intro-book';
  src: url("../../fonts/Intro-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.body-scene {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
}

.scene {
  z-index: -1;
}

.scene-layer {
  margin: auto;
  background-size: cover;
  width: 110%;
  height: 100%;
  position: absolute;
  left: -5%;
  -webkit-transition: .6s ease-out;
  transition: .6s ease-out;
}

.scene-layer--font1 {
  background-image: url(../../img/parallax_bg.jpg);
}

.scene-layer--font2 {
  background-image: url(../../img/parallax_layer1.png);
  background-position: top center;
  top: 0;
}

.scene-layer--font3 {
  background-image: url(../../img/parallax_layer2.png);
  width: 115%;
  left: -10%;
}

body {
  font-size: 20px;
  margin: auto;
  position: relative;
  line-height: 1.35;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  color: #333;
}

body input, body textarea {
  border: #666 1px solid;
  outline: none;
}

body input:focus:required:invalid, body textarea:focus:required:invalid {
  border-color: red;
}

body input:required:valid, body textarea:required:valid {
  border-color: green;
}

.site-content {
  position: relative;
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.offer-list-content {
  width: 40%;
}

.slick-dots {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 60px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: #E1E1E1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #AFAFAF;
}

::-webkit-input-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: #F59376;
  color: #fff;
}

::selection {
  background-color: #F59376;
  color: #fff;
}

.header-logo {
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  margin: auto;
  position: relative;
}

.header-logo p {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  width: 300px;
  font-size: 16px;
}

.header-logo p:first-child {
  text-align: right;
}
/*# sourceMappingURL=main.css.map */