
.site-body
  font-size: 20px
  margin: auto
  position: relative
  line-height: 1.35
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  width: 100 wh
  overflow-x: hidden
  color: #333
  width: 100%
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.def-link
  transition: $anim
  &:hover
    text-decoration: none

#site-content
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: transparent
    height: 100vh
    display: block
    transition: background .4s ease .3s
    z-index: -1

// slick
.slick-dotted.slick-slider
  margin-bottom: 30px
.slick-dots
  display: block
  width: 100%
  padding: 0
  margin: 0
  list-style: none
  text-align: center
.slick-dots li
  position: relative
  display: inline-block
  width: 20px
  height: 20px
  margin: 0 3px
  padding: 0
  cursor: pointer
.slick-dots li button
  font-size: 0
  line-height: 0
  display: block
  width: 20px
  height: 20px
  padding: 5px
  cursor: pointer
  color: transparent
  border: 0
  outline: none
  background: transparent
.slick-dots li button:hover,
.slick-dots li button:focus
  outline: none
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
  opacity: 1
.slick-dots li button:before
  font-family: 'slick'
  font-size: 60px
  line-height: 20px
  position: absolute
  top: 0
  left: 0
  width: 20px
  height: 20px
  content: '•'
  text-align: center
  opacity: .25
  color: #E1E1E1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
.slick-dots li.slick-active button:before
  opacity: 1
  color: #AFAFAF


::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff


// button animation
 //button
.header-menu-button
  width: 40px
  height: 37px
  margin: 5px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  overflow: hidden
  background-color: $accent
  background-image: url(../../img/grunge_bg_light.png)
  border-radius: 5px
  span
    width: 30px
    height: 2px
    background-color: #fff
    position: relative
    z-index: -1
    transition: .2s
    animation-name: slide
    z-index: 10
    &:after
      content: ''
      width: 30px
      height: 2px
      background-color: #fff
      position: absolute
      top: -8px
      transition: .2s
    &:before
      content: ''
      width: 30px
      height: 2px
      background-color: #fff
      position: absolute
      bottom: -8px
      transition: bottom .2s ease .5s
  &.is-active
    span
      background-color: transparent
    span:before
      bottom: 0
      transform: rotate(315deg)
      transition: transform .2s ease .3s, bottom .3s ease 0s
    span:after
      top: 0
      transform: rotate(-315deg)
      transition: transform .5s ease .3s, top .3s ease 0s