@import "vars"
@import "libs"
@import "scene"
@import "marchMenu"
@import "most"

// custom code
.site-header
  margin-bottom: 100px
.header
  &-logo
    padding: 20px 10px
    display: flex
    align-items: center
    justify-content: center
    max-width: 900px
    margin: auto
    position: relative
    p
      color: #fff
      text-transform: uppercase
      margin: 0
      width: 300px
      font-size: 16px
      &:first-child
        text-align: right

.header-menu
  display: flex
  font-family: 'Oswald', sans-serif
  +media-breakpoint-down(sm)
    display: none
  &-wrap
    margin: 50px 0
    display: flex
    justify-content: space-between
    align-items: center
    border: 30px solid transparent
    border-image-source: url(../../img/navbar_border.png)
    border-image-slice: 30
    border-image-repeat: repeat
    +media-breakpoint-down(sm)
      justify-content: flex-end
  &-link-wrap
    padding: 5px 15px
    padding-left: 25px
    list-style: none
    background-image: url(../../img/border_vertical.png) 
    background-repeat: repeat-y
    &:first-child
      background-image: none
  &__link
    text-transform: uppercase
    text-decoration: none
    font-weight: 300
    color: #fff
    &.is-active
      color: $accent
      &:hover
        color: $accent
    &:hover
      color: rgba(255, 255, 255, 0.4)
 
.main-content-wrap
  background: #ffffff
  color: #444444
  border: 30px solid #ffffff
  border-image-source: url(../../img/panel_box_border.png)
  border-image-slice: 30
  border-image-repeat: repeat
  background-clip: padding-box
.s-main

  &-header
    padding-top: 50px
    max-width: 80%
    margin: auto
    img
      width: 100%
      margin: auto

  &-headerbrd
    height: 60px
    width: 95%
    background: url(../../img/block_divider_dark.png) 50% 50% repeat-x
    padding: 30px 0
    margin: 50px auto

  &-preferen
    margin-bottom: 50px
    &-item
      display: flex
      justify-content: center
      align-items: center
      padding: 5px 30px
      background: url(../../img/border_dashed_vertical.png) repeat-y
      background-position: 0 0
      +media-breakpoint-down(xs)
        background: none
        margin-bottom: 25px
      &:first-child
        background: none
      img
        max-width: 100%

  &-footertxt
    text-align: center
    max-width: 75%
    margin: auto
// bottom

@import "media"