@import "vars"
@import "libs"
@import "scene"
@import "sideMenu"
@import "most"

// custom code
.site-header
  margin-bottom: 100px
.header
  &-logo
    padding: 20px 10px
    display: flex
    align-items: center
    justify-content: center
    max-width: 900px
    margin: auto
    position: relative
    +media-breakpoint-down(xs)
      display: none
    p
      color: #fff
      text-transform: uppercase
      margin: 0
      width: 300px
      font-size: 16px
      &:first-child
        text-align: right

.header-menu
  display: flex
  font-family: 'Oswald', sans-serif
  +media-breakpoint-down(sm)
    display: none
  &-wrap
    margin: 50px 0
    display: flex
    justify-content: space-between
    align-items: center
    border: 30px solid transparent
    border-image-source: url(../../img/navbar_border.png)
    border-image-slice: 30
    border-image-repeat: repeat
    +media-breakpoint-down(sm)
      justify-content: flex-end
  &-link-wrap
    padding: 5px 15px
    padding-left: 25px
    list-style: none
    background-image: url(../../img/border_vertical.png) 
    background-repeat: repeat-y
    &:first-child
      background-image: none
  &__link
    text-transform: uppercase
    text-decoration: none
    font-weight: 300
    color: #fff
    &.is-active
      color: $accent
      &:hover
        color: $accent
    &:hover
      color: rgba(255, 255, 255, 0.4)

.main-content-wrap
  background: #ffffff
  color: #444444
  border: 30px solid #ffffff
  border-image-source: url(../../img/panel_box_border.png)
  border-image-slice: 30
  border-image-repeat: repeat
  background-clip: padding-box
  margin-bottom: 30px
  padding: 10px
  +media-breakpoint-down(xs)
    border: 10px solid #ffffff
    border-image-slice: 10
.s-main

  &-header
    height: auto
  &-headerbrd
    height: 60px
    width: 95%
    background: url(../../img/block_divider_dark.png) 50% 50% repeat-x
    padding: 30px 0
    +media-breakpoint-down(xs)
      width: 100%
  &-preferen
    margin-bottom: 50px
    &-item
      display: flex
      justify-content: center
      align-items: center
      padding: 5px 30px
      background: url(../../img/border_dashed_vertical.png) repeat-y
      background-position: 0 0
      +media-breakpoint-down(xs)
        background: none
        margin-bottom: 25px
      &:first-child
        background: none
      img
        max-width: 100%

  &-footertxt
    text-align: center
    max-width: 75%
    margin: auto

  &-buttons
    margin: 25px 0
    display: flex
    justify-content: center
    a
      margin: 0 5px
.s-posts
  position: relative
  img
    max-width: 100%
  &-heading
    font-size: 15px
    max-width: 90%
    padding-bottom: 40px
    a
      position: absolute
      bottom: 30px

// portfolio

.s-about
  min-height: 400px
  position: relative
  &-hidden-fixed
    overflow: hidden
  &-content
    padding: 30px 0
    position: relative
    height: 600px
    display: flex
    transition: $anim
    &-services
      margin: 25px 0
    &-txtwrap
      p
        max-width: 60%
        padding-left: 15px
        +media-breakpoint-down(md)
          max-width: 80%
        +media-breakpoint-down(xs)
          min-width: 100%
  &-item
    width: 100%
    position: absolute
    padding: 20px
    height: auto
.aboutme-services-item
  text-align: center
  +media-breakpoint-down(xs)
    margin-bottom: 25px
  img
    max-height: 74px
    margin-bottom: $gutter
  p
  +media-breakpoint-down(xs)
    max-width: 70%
    margin: auto
.aboutme-facts-item
  text-align: center
  padding: 20px 10px 15px
  margin-right: -10px
  .pe-7s-icon
    font-size: 56px
    color: #888
.aboutme-facts-wrap
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1)
  padding: 10px 0
.aboutme-facts-wrap--gray
  background-color: #fafafa
.aboutme-facts-item__number
  font-size: 24px
  color: $accent
  font-weight: 600


.s-about-resume-content
  margin: 20px 0

// resume
.resume
  .title-4
    +media-breakpoint-down(xs)
      margin-bottom: 2*$gutter
.resume-column
  margin-top: 30px
  display: grid
  grid-auto-flow: column
  align-items: center
  grid-template-rows: 1fr 1fr 1fr
  +media-breakpoint-down(lg)
    align-items: flex-start
  +media-breakpoint-down(sm)
    grid-row-gap: 10px
  +media-breakpoint-down(xs)
    grid-auto-flow: row
    grid-template-rows: 1fr
    grid-row-gap: 20px
.resume-column-title
  grid-area: title
.resume-item
  p
    max-width: 80%
    +media-breakpoint-down(md)
      max-width: 95%
.resume-date
  display: block
  max-width: 90px
  position: relative
  color: #fff
  font-weight: 600
  line-height: 1.1em
  margin: 0 0 10px
  background-color: $accent
  background-image: url(../../img/grunge_bg_light.png)
  padding: 5px 8px 5px 23px
  margin-left: -10px
.resume-title
  margin: 0
.resume__descr
  color: #a5a5a5
  margin: 0 0 10px
  font-size: 12px
  font-weight: 300
  line-height: 1.45em

/////////////////////////////////////////////////////////////
// about control
/////////////////////////////////////////////////////////////
.s-about-tabs
  display: flex
  justify-content: center
  padding-bottom: 30px

  &-wrap
    display: flex
    margin: 0
    padding: 0
    list-style: none
    overflow: hidden
  &__item
    width: 100px
    border: none
    font-weight: 500
    color: #fff
    height: 40px
    background-image: url(../../img/grunge_bg_light.png)
    background-color: #4a4a4a
    margin: 0 10px
    position: relative
    cursor: pointer
    transition: $anim
    &:hover
      filter: none
      background-color: $accent
    &.is-active
      background-color: $accent
      filter: none
      box-shadow: 0px 4px 0px 0px rgba(239, 80, 71, 0.5)

/////////////////////////////////////////////////////////////
// arrows
/////////////////////////////////////////////////////////////
.s-about-arrows
  position: absolute
  top: 400px
  width: 100%
  z-index: 1
  +media-breakpoint-down(xs)
    top: 300px

  &__btn
    border: none
    background-color: $accent
    color: #fff
    width: 50px
    height: 50px
    background-image: url(../../img/grunge_bg_light.png)
    cursor: pointer
    transition: $anim
    position: absolute
    z-index: 10
    +media-breakpoint-down(sm)
      width: 30px
      height: 30px
    .fas
      position: relative
      z-index: -1
    &-next
      right: -15px
      +media-breakpoint-down(xs)
        right: -5px
    &-prev
      left: -32px
      +media-breakpoint-down(xs)
        left: -25px
    &:hover
      background-color: #4a4a4a



// bottom

@import "media"